@import "tailwindcss";

@theme {
    --color-background: #010a19;
    --color-white: #f6f8f9;
    --color-border: #a2a6a8;
    --color-cardBackground: #415f7d;
    --color-blueGray: #4e5861;
    --color-darkGray: #39383e;
    --color-darkRed: #250303;
    --color-primary: #0045f6ff;
}

@layer base {
	:root {
	}

	.dark {
	}
}

/*
 * Custom font
 */
@font-face {
	font-family: 'PressStart2P';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/press-start-2p.ttf') format('truetype');
}

html {
	font-family: 'PressStart2P', sans-serif;
	background-color: var(--color-background);
	color: var(--color-white);
	border-color: var(--color-border);
}

a {
	@apply transition-all duration-300;

	&:hover {
		opacity: 0.5;
	}
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}

/*
BEGIN Typography========
*/
h1 {
	@apply text-3xl;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-xl;
}

h4 {
	@apply text-lg;
}

h5 {
	@apply text-base;
}

h6 {
	@apply text-sm;
}

p {
	@apply text-xs;
}
/*
END Typography============
*/
